# Rstudio project
.Rproj.user
.Rhistory
.RData
qetxR.Rproj

# Latex
*.tdo
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*concordance.tex
*.pdf

# knitr
cache/*
knitr.sty

# keep only .Rnw
*.tex
*tikz*
/graphics/*