# Rstudio project
.Rproj.user
.Rhistory
.RData
qetxR.Rproj

# Latex
*.tdo
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*concordance.tex


# knitr
cache/*
*tikz*
/graphics/*

# track only .Rnw
*.pdf
*.tex
